<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

      <h5 class="my-0 mr-md-auto font-weight-normal"> Sheffield Tech Reviews</h5>

      <nav class="my-2 my-md-0 mr-md-3">


        <a class="p-2 text-dark" href="#"> <%= link_to "Home", '/static_pages/home' %> </a>
<a class="p-2 text-dark" href="#"> <%= link_to "About Us", '/static_pages/about' %> </a>
        <a class="p-2 text-dark" href="#"> <%= link_to "Contact Us", 'static_pages/contact' %> </a>
        <a class="p-2 text-dark" href="#"> <%= link_to "Products Pages", 'static_pages/product' %> </a>

       
      </nav>

      

    </div>
</div>
    <%= yield %>
  </body>
</html>
